<div class="form-background">
  <div class="form-container">
    <div class="form">
      <h1>Player Form</h1>
      <div class="game-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @game.image_url %>)">
        <!-- Content within the game-img -->
      </div>

      <%= simple_form_for [@game, @competition], class: "game-form" do |f| %>
        <div class="form-group">
          <%= f.input :wager, label: "Wager", input_html: { class: "form-control" }, label_html:{ class: "label-font"} %>
        </div>
        <div class="form-group">
          <%= f.input :gamer_tag, label: "Gamer Tag", input_html: { class: "form-control" }, label_html:{ class: "label-font"} %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary custom-btn" %>
      <% end %>
    </div>
  </div>
</div>
