  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= @game.title %>
      <p> <%= @game.platform %> </p>
   </div>

<%= simple_form_for [@game, @competition] do |f| %>
<%= f.input :wager %>
<%= f.input :opp_id %>
<%= f.submit %>
<% end %>
