  <div class="match-container">
    <div class="header">
    </div>
    <div class="game-title">
      <h1>CALL OF DUTY: WARZONE</h1>
    </div>
    <div class="stats-container">
      <div class="player-card winner">
          <%= image_tag "minanavatar.png", class:"avatar" %>
        <div class="badge winner-badge">WINNER!</div>
        <div class="pro-badge">PRO
          <h2><%= @wstat.user.gamer_tag %></h2>
        </div>
        <div class="stats">
          <h3>IN-GAME STATISTICS:</h3>
          <p>KILLS: <%= @wstat.kills %></p>
          <p>KD RATIO: <%= @wstat.kd_ratio %></p>
          <p>DAMAGE: <%= @wstat.damage %></p>
        </div>
      </div>
      <div class="vs">
        <h2>VS</h2>
      </div>
      <div class="player-card loser">
        <%= image_tag "vedavatar.png", class:"avatar" %>
        <div class="badge loser-badge">LOSER!</div>
        <div class="pro-badge">PRO
        <h2><%= @lstat.user.gamer_tag %></h2>
        </div>
        <div class="stats">
          <h3>IN-GAME STATISTICS:</h3>
          <p>KILLS: <%= @lstat.kills %></p>
          <p>KD RATIO: <%= @lstat.kd_ratio %></p>
          <p>DAMAGE: <%= @lstat.damage %></p>
        </div>
      </div>
    </div>
<div class="btn btn-primary">
   <%= button_to "VIEW REWARDS", result_path(@competition, @result), method: :get %>
</div>
  </div>
