<div class = "split-page">
  <div class="match-container">
    <div class="header">
    </div>
    <div class="stats-container">
      <div class="reward-card">
          <%= image_tag "minanavatar.png", class:"avatar" %>
        <div class="pro-badge">PRO</div>
          <h2><%= @result.user.gamer_tag %></h2>
                   <div class="badge-winner-results">WINNER!</div>
                    <h3>YOU HAVE WON <div class = "green-text"><%= @result.token %></div> TOKENS</h3>
          </div>
        </div>
  </div>

          <%= @competition.game.title %>

   <div class="match-container">
    <div class="header">
    </div>
    <div class="stats-container">
      <div class="social-card">
          <h2>@<%= @result.user.gamer_tag %> BEAT @<%= @opp.gamer_tag %> AT
          <%= @competition.game.title %> AT <%= @result.created_at %></h2>

          <h2> GAINS + <div class = "green-text"><%= @result.token %></div> NICE! </h2>
          <h2> SHARE TO: X, Facebook, Instagram </h2>
    </div>
  </div>
</div>


          <%# <%= @result.user.gamer_tag %> %>
          <%# <%= @result.win %>
          <%# <%= @opp.gamer_tag %> %>
          <%# <%= @competition.game.title %> %>
          <%# <%= @result.token %> %>
          <%# <%= @result.created_at %> %> %>
