<div class="banner">
    <div class="container d-flex justify-content-center align-items-center flex-column">
      <h1>The #1 Platform for In-Game Wagering</h1>
      <%= link_to "LET'S PLAY!", games_path, class: "btn btn-primary" %>
    </div>
  </div>
   <!-- How PlayOffPro Works Section -->
  <section class="how-it-works">
    <div class="container">
      <h2>How PlayOffPro Works</h2>
      <div class="steps">
        <!-- Step 1 Card -->
        <div class="step-card">
          <h2>#WAGERS</h2>
          <%= image_tag "girl-console.png" %>
          <h3>Select challenges or join a wager from the matchfinder</h3>
        </div>
        <!-- Step 2 Card -->
        <div class="step-card">
          <h2>#1V1GAME</h2>
          <%= image_tag "prizes.png" %>
          <h3>Play your high-octane multiplayer game!</h3>
        </div>
        <!-- Step 3 Card -->
        <div class="step-card">
          <h2>#TOKENS</h2>
          <%= image_tag "token.png" %>
          <h3>Win and get credited the same day</h3>
        </div>
      </div>
    </div>
  </section>
          <div class="container">
            <h3 class="text-white">Games</h3>
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
    <%= image_tag "f24.png", class:"d-block w-100"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>FC24</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
    <%= image_tag"cod.png", class:"d-block w-100"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Call Of Duty</h5>
      </div>
    </div>
    <div class="carousel-item">
    <%= image_tag "tekken.png", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Tekken</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
            <h3 class="text-white">Players Of The Week:</h3>
    <div class="container">
      <div class="steps pow">
        <!-- Player 1 Card -->
        <div class="pow">
          <h3>VEDL1</h3>
          <%= image_tag "vedavatar.png" %>
          <p>the best gamer</p>
        </div>
        <!-- Player 2 Card -->
        <div class="pow">
          <h3>MINKAH</h3>
          <%= image_tag "minanavatar.png" %>
          <p>the most fashionable gamer</p>
        </div>
        <!-- Step 3 Card -->
        <div class="pow">
          <h3>GERALD</h3>
          <%= image_tag "geraldavatar.png" %>
          <p>the coldest gamer</p>
        </div>
      </div>
    </div>
