<h1>Your Invitations</h1>
<div class="invitations-grid">
  <% @competitions.each do |c| %>
    <%= link_to competition_accept_path(c), class: 'invitation-link' do %>
      <div class="center-box">
        <h3><%= c.user.gamer_tag %></h3>
        <h4><%= c.game.title %></h4>
        <h4><%= c.platform %></h4>
        <h4><%= c.wager %></h4>
      </div>
    <% end %>
  <% end %>
</div>
